# **Análise Exploratória de Dados (EDA) do Dataset de Acidentes**


Este notebook apresenta uma análise detalhada dos dados de acidentes de carro utilizando o dataset DATATRAN. A seguir, exploraremos diferentes aspectos dos dados, incluindo correlações, severidade, análise espacial e temporal, impacto das condições meteorológicas, entre outros. Cada seção inclui visualizações relevantes para facilitar a interpretação.

## 1. Introdução
Nesta seção, vamos carregar e explorar as primeiras linhas do dataset.

In [6]:
import pandas as pd
import numpy as np
from pathlib import Path
import sys
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
from typing import Dict, List

In [7]:
notebook_path = Path.cwd()
project_root = str(notebook_path.parent.parent) + "\\src"
sys.path.append(project_root)

In [8]:
project_root

'd:\\projetos\\roadSafeAi\\RoadSafeAI\\src'

In [9]:
from eda.correlation_analysis import CorrelationAnalysis
from eda.severity_analysis import SeverityAnalysis
from eda.spatial_analysis import SpatialAnalysis
from eda.temporal_analysis import TemporalAnalysis
from eda.weather_analysis import WeatherAnalysis
from eda.trend_analysis import TrendAnalysis
from eda.feature_analysis import FeatureAnalysis
from eda.visualization import AccidentVisualizer

In [18]:
notebook_path = Path.cwd()
project_root = str(notebook_path.parent.parent) + "\\src"
sys.path.append(project_root)

In [19]:
project_root

'd:\\projetos\\roadSafeAi\\RoadSafeAI\\src'

In [22]:
def load_data():
  data_path = Path("../../files/processed/maranhao/datatran_ma_merged_base_2007_2024.csv")
  return pd.read_csv(data_path, sep=";")

In [23]:
df = load_data()
# Exibir as primeiras linhas do dataset
df.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,tracado_via,uso_solo,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
0,402769.0,2007-01-01,Segunda,09:50:00,MA,316,516.1,CAXIAS,Ultrapassagem indevida,Capotamento,...,Curva,Rural,2,0,0,0,2,0,0,2
1,210762.0,2007-01-01,Segunda,03:30:00,MA,222,556.3,BOM JESUS DAS SELVAS,Velocidade incompatível,Saída de Pista,...,Curva,Rural,2,1,1,0,0,0,1,1
2,173998.0,2007-01-01,Segunda,18:00:00,MA,230,23.9,BARAO DE GRAJAU,Animais na Pista,Atropelamento de animal,...,Reta,Rural,4,0,3,0,1,0,3,1
3,173939.0,2007-01-01,Segunda,15:00:00,MA,10,216.8,GOVERNADOR EDISON LOBAO,Defeito na via,Saída de Pista,...,Reta,Rural,1,0,0,0,1,0,0,1
4,175809.0,2007-01-01,Segunda,08:20:00,MA,135,23.0,SAO LUIS,Falta de atenção,Colisão lateral,...,Reta,Rural,2,0,0,0,2,0,0,2

## **2. Exploração Inicial do Dataset**
Aqui vamos obter uma visão geral das informações contidas no dataset.

### 2.1 Tamanho do Dataset
Primeiro, vamos verificar o tamanho do dataset, ou seja, o número de registros e o número de colunas.

In [24]:
# Tamanho do dataset (número de linhas e colunas)
dataset_size = df.shape
print(f"Tamanho do dataset: {dataset_size[0]} registros e {dataset_size[1]} colunas")

Tamanho do dataset: 34153 registros e 25 colunas

## 2.2 Informações basicas das Colunas
Em seguida, vamos exibir os nomes das colunas, Tipos de dados, valores não nulos e valores nulos presentes no dataset para que possamos entender melhor sua estrutura.

In [25]:
# Verificando o tipo de dado de cada coluna e a contagem de valores não nulos
column_info = pd.DataFrame({
    'Tipo de Dado': df.dtypes,
    'Valores Não Nulos': df.notnull().sum(),
    'Valores Nulos': df.isnull().sum()
})

# Exibindo a tabela com informações adicionais sobre as colunas
display(column_info)

                       Tipo de Dado  Valores Não Nulos  Valores Nulos
id                          float64              34153              0
data_inversa                 object              34153              0
dia_semana                   object              34153              0
horario                      object              34153              0
uf                           object              34153              0
br                            int64              34153              0
km                          float64              34153              0
municipio                    object              34153              0
causa_acidente               object              34153              0
tipo_acidente                object              34151              2
classificacao_acidente       object              34153              0
fase_dia                     object              34153              0
sentido_via                  object              34153              0
condicao_metereologica       object              34153              0
tipo_pista                   object              34153              0
tracado_via                  object              34153              0
uso_solo                     object              34153              0
pessoas                       int64              34153              0
mortos                        int64              34153              0
feridos_leves                 int64              34153              0
feridos_graves                int64              34153              0
ilesos                        int64              34153              0
ignorados                     int64              34153              0
feridos                       int64              34153              0
veiculos                      int64              34153              0

### 2.3 Estatísticas Descritivas para Variáveis Numéricas
Agora, vamos calcular e exibir as estatísticas descritivas para as variáveis numéricas do dataset.

In [26]:
# Estatísticas descritivas para variáveis numéricas
print("\nEstatísticas descritivas para variáveis numéricas:")
stats_df = df.describe().transpose()


styled_stats = stats_df.style.format("{:,.2f}").background_gradient(cmap='coolwarm', axis=None)
display(styled_stats)

Estatísticas descritivas para variáveis numéricas:

## **3. Correlação entre Variáveis**
### 3.1 Correlações Numéricas

Vamos analisar as correlações entre variáveis numéricas.

In [27]:
# Instanciando o módulo de correlação
corr_analysis = CorrelationAnalysis(df)

# Exibindo o gráfico de calor para as correlações numéricas
corr_analysis.get_numeric_correlations()

,id,br,km,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
id,1.00,-0.01,0.01,-0.02,-0.01,-0.01,-0.03,0.02,-0.07,-0.02,-0.03
br,-0.01,1.00,0.39,-0.01,0.09,0.01,0.04,-0.09,0.00,0.03,-0.12
km,0.01,0.39,1.00,0.03,0.08,0.08,0.05,-0.08,0.03,0.08,-0.07
pessoas,-0.02,-0.01,0.03,1.00,0.26,0.57,0.38,0.54,0.32,0.64,0.35
mortos,-0.01,0.09,0.08,0.26,1.00,0.03,0.13,-0.11,0.12,0.09,0.04
feridos_leves,-0.01,0.01,0.08,0.57,0.03,1.00,0.15,-0.10,0.07,0.87,-0.01
feridos_graves,-0.03,0.04,0.05,0.38,0.13,0.15,1.00,-0.14,0.04,0.62,0.02
ilesos,0.02,-0.09,-0.08,0.54,-0.11,-0.10,-0.14,1.00,-0.07,-0.15,0.36
ignorados,-0.07,0.00,0.03,0.32,0.12,0.07,0.04,-0.07,1.00,0.07,0.45
feridos,-0.02,0.03,0.08,0.64,0.09,0.87,0.62,-0.15,0.07,1.00,0.01
veiculos,-0.03,-0.12,-0.07,0.35,0.04,-0.01,0.02,0.36,0.45,0.01,1.00

### **3.2 Associações Categóricas**
Aqui, vamos explorar as associações entre variáveis categóricas usando o teste de qui-quadrado.

In [28]:
# Exibindo associações entre variáveis categóricas
corr_analysis.get_categorical_associations()

{'data_inversa x dia_semana': {'chi2': 443988.99999999994, 'p_value': 0.0},
 'data_inversa x horario': {'chi2': 7108366.749370254, 'p_value': 0.0},
 'data_inversa x uf': {'chi2': 0.0, 'p_value': 1.0},
 'data_inversa x municipio': {'chi2': 741267.5908098859,
  'p_value': 3.4261175029965097e-242},
 'data_inversa x tipo_acidente': {'chi2': 243244.26378312858, 'p_value': 0.0},
 'data_inversa x fase_dia': {'chi2': 41466.2026559483,
  'p_value': 2.3859506454299227e-248},
 'data_inversa x sentido_via': {'chi2': 19544.444146556758,
  'p_value': 7.552085525532551e-285},
 'data_inversa x tipo_pista': {'chi2': 13723.099019240082,
  'p_value': 8.338850099802055e-08},
 'data_inversa x tracado_via': {'chi2': 1020876.7991824619, 'p_value': 0.0},
 'data_inversa x uso_solo': {'chi2': 49915.00913381678, 'p_value': 0.0},
 'dia_semana x horario': {'chi2': 16602.27453391302,
  'p_value': 1.170511456985344e-136},
 'dia_semana x uf': {'chi2': 0.0, 'p_value': 1.0},
 'dia_semana x municipio': {'chi2': 2870.2612140894435,
  'p_value': 6.076688191255631e-101},
 'dia_semana x tipo_acidente': {'chi2': 18306.093444898175, 'p_value': 0.0},
 'dia_semana x fase_dia': {'chi2': 12996.314229472942, 'p_value': 0.0},
 'dia_semana x sentido_via': {'chi2': 77.06493957314257,
  'p_value': 5.895593673439386e-07},
 'dia_semana x tipo_pista': {'chi2': 141.42469553402498,
  'p_value': 7.63727125882907e-18},
 'dia_semana x tracado_via': {'chi2': 8434.645642635449, 'p_value': 0.0},
 'dia_semana x uso_solo': {'chi2': 34268.09757684656, 'p_value': 0.0},
 'horario x uf': {'chi2': 0.0, 'p_value': 1.0},
 'horario x municipio': {'chi2': 83663.06575503798, 'p_value': 1.0},
 'horario x tipo_acidente': {'chi2': 35801.16841040336,
  'p_value': 1.796716074337593e-235},
 'horario x sentido_via': {'chi2': 1506.0033499419378,
  'p_value': 0.9999999999906719},
 'horario x tipo_pista': {'chi2': 2593.071009238536,
  'p_value': 4.639233967839026e-25},
 'horario x tracado_via': {'chi2': 327103.1655099114, 'p_value': 0.0},
 'horario x uso_solo': {'chi2': 4889.106124126127,
  'p_value': 4.0679211293258164e-113},
 'uf x uso_solo': {'chi2': 0.0, 'p_value': 1.0},
 'municipio x uf': {'chi2': 0.0, 'p_value': 1.0},
 'municipio x tipo_acidente': {'chi2': 11418.610892928244, 'p_value': 0.0},
 'municipio x sentido_via': {'chi2': 2697.9495301669745, 'p_value': 0.0},
 'municipio x tipo_pista': {'chi2': 23186.252921034597, 'p_value': 0.0},
 'municipio x tracado_via': {'chi2': 13165.09261316345,
  'p_value': 1.0852450721451969e-18},
 'municipio x uso_solo': {'chi2': 9777.669270586764, 'p_value': 0.0},
 'causa_acidente x data_inversa': {'chi2': 936872.6677592474, 'p_value': 0.0},
 'causa_acidente x dia_semana': {'chi2': 34871.53623945596, 'p_value': 0.0},
 'causa_acidente x horario': {'chi2': 143472.31503279574, 'p_value': 0.0},
 'causa_acidente x uf': {'chi2': 0.0, 'p_value': 1.0},
 'causa_acidente x municipio': {'chi2': 23607.897304544338, 'p_value': 0.0},
 'causa_acidente x tipo_acidente': {'chi2': 115129.52948831941,
  'p_value': 0.0},
 'causa_acidente x classificacao_acidente': {'chi2': 5093.672147683517,
  'p_value': 0.0},
 'causa_acidente x fase_dia': {'chi2': 14907.61636371225, 'p_value': 0.0},
 'causa_acidente x sentido_via': {'chi2': 817.1579538011144,
  'p_value': 3.21356898728992e-81},
 'causa_acidente x condicao_metereologica': {'chi2': 30028.018493261967,
  'p_value': 0.0},
 'causa_acidente x tipo_pista': {'chi2': 1711.2339791086679,
  'p_value': 1.5547993073173436e-246},
 'causa_acidente x tracado_via': {'chi2': 83565.75620635004, 'p_value': 0.0},
 'causa_acidente x uso_solo': {'chi2': 39736.726482337894, 'p_value': 0.0},
 'tipo_acidente x uf': {'chi2': 0.0, 'p_value': 1.0},
 'tipo_acidente x tipo_pista': {'chi2': 2049.6871499798094, 'p_value': 0.0},
 'tipo_acidente x tracado_via': {'chi2': 17252.481694519876, 'p_value': 0.0},
 'tipo_acidente x uso_solo': {'chi2': 26930.12639264055, 'p_value': 0.0},
 'classificacao_acidente x data_inversa': {'chi2': 24134.784280135296,
  'p_value': 0.9999999999996734},
 'classificacao_acidente x dia_semana': {'chi2': 2884.3748381980477,
  'p_value': 0.0},
 'classificacao_acidente x horario': {'chi2': 3864.2189381182957,
  'p_value': 0.16623227176561914},
 'classificacao_acidente x uf': {'chi2': 0.0, 'p_value': 1.0},
 'classificacao_acidente x municipio': {'chi2': 3505.8286533140135,
  'p_value': 0.0},
 'classificacao_acidente x tipo_acidente': {'chi2': 9366.692709322724,
  'p_value': 0.0},
 'classificacao_acidente x fase_dia': {'chi2': 1360.354907571364,
  'p_value': 3.4857672374123335e-276},
 'classificacao_acidente x sentido_via': {'chi2': 7.951422376558431,
  'p_value': 0.438229696198297},
 'classificacao_acidente x condicao_metereologica': {'chi2': 2151.12937636896,
  'p_value': 0.0},
 'classificacao_acidente x tipo_pista': {'chi2': 760.6554507772925,
  'p_value': 6.187574240447631e-159},
 'classificacao_acidente x tracado_via': {'chi2': 859.4292183588353,
  'p_value': 1.3929751060442888e-30},
 'classificacao_acidente x uso_solo': {'chi2': 3057.5108320664062,
  'p_value': 0.0},
 'fase_dia x horario': {'chi2': 63402.2864783216, 'p_value': 0.0},
 'fase_dia x uf': {'chi2': 0.0, 'p_value': 1.0},
 'fase_dia x municipio': {'chi2': 1804.1377525846317,
  'p_value': 1.8432692825225023e-134},
 'fase_dia x tipo_acidente': {'chi2': 10030.699462559774, 'p_value': 0.0},
 'fase_dia x sentido_via': {'chi2': 17.96519870020259,
  'p_value': 0.0555535351184274},
 'fase_dia x tipo_pista': {'chi2': 312.72295636239824,
  'p_value': 3.16636825471869e-61},
 'fase_dia x tracado_via': {'chi2': 2389.4052363015826,
  'p_value': 4.451843243111415e-230},
 'fase_dia x uso_solo': {'chi2': 12034.170862271541, 'p_value': 0.0},
 'sentido_via x uf': {'chi2': 0.0, 'p_value': 1.0},
 'sentido_via x tipo_acidente': {'chi2': 372.7171545959842,
  'p_value': 1.6648319575945782e-47},
 'sentido_via x tipo_pista': {'chi2': 3.0597907644846885,
  'p_value': 0.5478698987557464},
 'sentido_via x tracado_via': {'chi2': 196.89361460435833,
  'p_value': 0.8200423583318379},
 'sentido_via x uso_solo': {'chi2': 83.46723250179292,
  'p_value': 6.855952518921946e-16},
 'condicao_metereologica x data_inversa': {'chi2': 112927.46010173907,
  'p_value': 0.0},
 'condicao_metereologica x dia_semana': {'chi2': 25058.03103739691,
  'p_value': 0.0},
 'condicao_metereologica x horario': {'chi2': 16981.56447336688,
  'p_value': 1.9689441899833746e-233},
 'condicao_metereologica x uf': {'chi2': 0.0, 'p_value': 1.0},
 'condicao_metereologica x municipio': {'chi2': 4944.045915667612,
  'p_value': 0.0},
 'condicao_metereologica x tipo_acidente': {'chi2': 15393.058632039783,
  'p_value': 0.0},
 'condicao_metereologica x fase_dia': {'chi2': 15213.140259610986,
  'p_value': 0.0},
 'condicao_metereologica x sentido_via': {'chi2': 82.3615441578542,
  'p_value': 2.547180395774359e-08},
 'condicao_metereologica x tipo_pista': {'chi2': 301.3013758414411,
  'p_value': 9.17172402235963e-50},
 'condicao_metereologica x tracado_via': {'chi2': 7180.322096640502,
  'p_value': 0.0},
 'condicao_metereologica x uso_solo': {'chi2': 25497.194444116994,
  'p_value': 0.0},
 'tipo_pista x uf': {'chi2': 0.0, 'p_value': 1.0},
 'tipo_pista x tracado_via': {'chi2': 1276.9434668990984,
  'p_value': 7.181771301386098e-150},
 'tipo_pista x uso_solo': {'chi2': 4120.604241549798, 'p_value': 0.0},
 'tracado_via x uf': {'chi2': 0.0, 'p_value': 1.0},
 'tracado_via x uso_solo': {'chi2': 9384.405420923995, 'p_value': 0.0}}

## **4. Análise de Severidade dos Acidentes**
### 4.1 Severidade por Causa
Analisaremos a severidade média dos acidentes agrupados por causa.

In [29]:
# Instanciando o módulo de severidade
severity_analysis = SeverityAnalysis(df)

# Exibindo severidade por causa
severity_analysis.get_severity_by_cause()

                                                   indice_severidade mortos  \
                                                                mean    sum
causa_acidente
Acessar a via sem observar a presença dos outro...              2.16     64
Acesso irregular                                                1.76      5
Acostamento em desnível                                         2.37      7
Acumulo de areia ou detritos sobre o pavimento                  1.78      1
Acumulo de água sobre o pavimento                               2.78      6
...                                                              ...    ...
Ultrapassagem Indevida                                          3.51    120
Ultrapassagem indevida                                          3.13    283
Velocidade Incompatível                                         3.81     80
Velocidade incompatível                                         4.44    128
Área urbana sem a presença de local apropriado ...              3.38      2

                                                         feridos_graves        \
                                                    mean            sum  mean
causa_acidente
Acessar a via sem observar a presença dos outro...  0.12            258  0.49
Acesso irregular                                    0.08             26  0.41
Acostamento em desnível                             0.21              5  0.15
Acumulo de areia ou detritos sobre o pavimento      0.06              2  0.11
Acumulo de água sobre o pavimento                   0.17              5  0.14
...                                                  ...            ...   ...
Ultrapassagem Indevida                              0.30            252  0.63
Ultrapassagem indevida                              0.27            489  0.46
Velocidade Incompatível                             0.29            115  0.41
Velocidade incompatível                             0.20            251  0.40
Área urbana sem a presença de local apropriado ...  0.50              1  0.25

                                                   feridos_leves
                                                             sum  mean
causa_acidente
Acessar a via sem observar a presença dos outro...           332  0.63
Acesso irregular                                              45  0.70
Acostamento em desnível                                       19  0.58
Acumulo de areia ou detritos sobre o pavimento                16  0.89
Acumulo de água sobre o pavimento                             33  0.92
...                                                          ...   ...
Ultrapassagem Indevida                                       306  0.77
Ultrapassagem indevida                                       726  0.68
Velocidade Incompatível                                      232  0.83
Velocidade incompatível                                      539  0.86
Área urbana sem a presença de local apropriado ...             2  0.50

[92 rows x 7 columns]

## **5. Análise Espacial dos Acidentes**
### 5.1 Estatísticas por Estado
Vamos analisar as estatísticas de acidentes por estado (UF).

In [30]:
# Instanciando o módulo de análise espacial
spatial_analysis = SpatialAnalysis(df)

# Exibindo estatísticas por estado
spatial_analysis.get_state_stats()

       id mortos       feridos       veiculos
    count    sum  mean     sum  mean      sum
uf
MA  34153   4749  0.14   27863  0.82    64283

### 5.2 Densidade de Acidentes por Trecho
Verificaremos a densidade de acidentes por rodovia e trecho.

In [31]:
# Exibindo densidade de acidentes por trecho
spatial_analysis.get_accident_density()

       br     km  acidentes
0       0    0.0         14
1       1  168.0          1
2      10    0.0          5
3      10   12.6          1
4      10   15.5          1
...   ...    ...        ...
9520  402  156.7          1
9521  402  164.0          2
9522  402  164.7          1
9523  402  168.0          1
9524  402  170.0          1

[9525 rows x 3 columns]

## **6. Análise Temporal dos Acidentes**
### 6.1 Padrões Anuais e Mensais
Vamos analisar a distribuição de acidentes ao longo dos anos e meses.

In [32]:
# Instanciando o módulo de análise temporal
temporal_analysis = TemporalAnalysis(df)

# Exibindo padrões anuais de acidentes
temporal_analysis.get_yearly_stats()

# Exibindo padrões mensais de acidentes
temporal_analysis.get_monthly_pattern()

       id  mortos  feridos
mes
1    2959    0.14     0.82
2    2686    0.13     0.78
3    2841    0.13     0.76
4    2780    0.11     0.75
5    2829    0.13     0.78
6    2630    0.14     0.81
7    2926    0.14     0.89
8    2807    0.14     0.89
9    2871    0.15     0.82
10   2816    0.14     0.82
11   2803    0.17     0.84
12   3205    0.15     0.82

## **7. Impacto das Condições Meteorológicas**
### 7.1 Estatísticas por Condição Meteorológica
Analisaremos a quantidade de acidentes e a severidade média por condição meteorológica.

In [33]:
# Instanciando o módulo de análise meteorológica
weather_analysis = WeatherAnalysis(df)

# Exibindo as estatísticas meteorológicas
weather_analysis.get_weather_stats()

                           id mortos       feridos
                        count    sum  mean     sum  mean
condicao_metereologica
Ceu Claro               13988   1704  0.12   10194  0.73
Céu Claro                6678   1365  0.20    7190  1.08
Sol                      4317    401  0.09    2986  0.69
Chuva                    3742    362  0.10    2976  0.80
Nublado                  3686    472  0.13    2946  0.80
Ignorada                 1034    247  0.24     858  0.83
Ignorado                  294     93  0.32     285  0.97
Garoa/Chuvisco            211     39  0.18     205  0.97
Nevoeiro/neblina          126     49  0.39     150  1.19
Vento                      33      5  0.15      33  1.00
Nevoeiro/Neblina           30     10  0.33      33  1.10
Granizo                     9      0  0.00       4  0.44
Neve                        5      2  0.40       3  0.60

## **8. Tendências ao Longo do Tempo**
### 8.1 Tendências Anuais e Mensais
Verificaremos a evolução do número de acidentes ao longo dos anos e meses.

In [34]:
# Instanciando o módulo de tendências
trend_analysis = TrendAnalysis(df)

# Exibindo tendência anual de acidentes
trend_analysis.get_yearly_trend()

# Exibindo tendência mensal de acidentes
trend_analysis.get_monthly_trend()

       id                                               ... feridos            \
mes    1    2    3    4    5    6    7    8    9    10  ...      3    4    5
ano                                                     ...
2007  163  181  195  186  171  168  218  156  187  145  ...     165  106  172
2008  256  177  214  189  174  165  168  203  184  181  ...     134  118  113
2009  185  194  193  168  197  171  192  185  188  198  ...     182  136  153
2010  215  188  196  210  201  214  231  245  203  220  ...     109  140  146
2011  258  224  215  267  257  256  259  226  291  266  ...     149  181  221
2012  230  260  272  258  248  233  276  218  262  269  ...     207  170  116
2013  269  238  272  229  241  214  267  268  228  222  ...     173  117  123
2014  249  228  216  229  225  157  212  211  226  233  ...     145  156  139
2015  200  178  205  198  227  154  150  145  118  142  ...     146  118  147
2016  144  127  135  104  125  118  122  119  118  127  ...     102   70  112
2017  145  117  121  143  142  117  135  135  129  138  ...      90  135  107
2018  118  106  119  111   83  102  105  101  110   87  ...     107  109   78
2019   98   87   90   73   64   83  106   81  109   84  ...      91   89   64
2020   81   94   79   68   69   87   96  110   97  111  ...      73   66   63
2021   97   76   85   75   97  102  105   98  114   95  ...      86   78  104
2022   80   68   78   86   83   87   92   98  109  103  ...      77   96   89
2023   79   73   83   88  106  106  111  104   97   94  ...      74  104  126
2024   92   70   73   98  119   96   81  104  101  101  ...      58  104  133


mes    6    7    8    9    10   11   12
ano
2007  147  176   98  190  115  112  160
2008  134  167  127  128  131  148  157
2009  112  149  123  129  140  160  162
2010  140  168  155  158  186  183  158
2011  186  208  188  166  171  158  164
2012  148  167  159  146  167  148  159
2013  124  189  188  150  140  127  203
2014  105  139  120  119  168  144  170
2015   98  128  207   90   94  131  169
2016   93  107  111  109  151  153  134
2017  112  127  172  117  121  109  146
2018  121  141  120  106  114  137  135
2019   78  118  124  134   81   88  115
2020   97  134  124  122  121  139  146
2021  144  119  111  142   94   94   94
2022   97  123  126  111  106  108  130
2023   95  130  131  132   88  119  110
2024   98  121  103  100  125   93  102

[18 rows x 36 columns]

## **9. Análise das Features do Dataset**
### 9.1 Valores Ausentes
Identificaremos as colunas com maior número de valores ausentes.

In [35]:
# Instanciando o módulo de análise de features
feature_analysis = FeatureAnalysis(df)

# Exibindo valores ausentes
feature_analysis.get_missing_values()

                        Valores Ausentes  Porcentagem
tipo_acidente                          2     0.005856
id                                     0     0.000000
condicao_metereologica                 0     0.000000
feridos                                0     0.000000
ignorados                              0     0.000000
ilesos                                 0     0.000000
feridos_graves                         0     0.000000
feridos_leves                          0     0.000000
mortos                                 0     0.000000
pessoas                                0     0.000000
uso_solo                               0     0.000000
tracado_via                            0     0.000000
tipo_pista                             0     0.000000
sentido_via                            0     0.000000
data_inversa                           0     0.000000
fase_dia                               0     0.000000
classificacao_acidente                 0     0.000000
causa_acidente                         0     0.000000
municipio                              0     0.000000
km                                     0     0.000000
br                                     0     0.000000
uf                                     0     0.000000
horario                                0     0.000000
dia_semana                             0     0.000000
veiculos                               0     0.000000

## **10. Conclusões**
Após analisar as diversas dimensões do dataset, podemos identificar os fatores mais críticos que impactam a severidade dos acidentes e os padrões espaciais e temporais. Isso ajuda a direcionar ações para prevenir acidentes, como políticas de segurança nas rodovias mais críticas e em horários de maior risco.