In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
import sys
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
from typing import Dict, List

In [27]:
notebook_path = Path.cwd()
project_root = notebook_path.parent
sys.path.append(str(project_root))
from src.preprocessing.data_standardize import DataStandardize
def load_data():
  data_path = Path("../files/processed/datatran_merged.csv")
  return pd.read_csv(data_path, sep=";")
df = load_data()
dfma = df.loc[df['uf'] == 'MA'].copy()

In [28]:
# Verificando o tipo de dado de cada coluna e a contagem de valores não nulos
column_info = pd.DataFrame({
    'Tipo de Dado': dfma.dtypes,
    'Valores Não Nulos': dfma.notnull().sum(),
    'Valores Nulos': dfma.isnull().sum()
})

# Exibindo a tabela com informações adicionais sobre as colunas
display(column_info)

                       Tipo de Dado  Valores Não Nulos  Valores Nulos
id                          float64              34153              0
data_inversa                 object              34153              0
dia_semana                   object              34153              0
horario                      object              34153              0
uf                           object              34153              0
br                          float64              34153              0
km                          float64              34153              0
municipio                    object              34153              0
causa_acidente               object              34153              0
tipo_acidente                object              34151              2
classificacao_acidente       object              34153              0
fase_dia                     object              34153              0
sentido_via                  object              34153              0
condicao_metereologica       object              34153              0
tipo_pista                   object              34153              0
tracado_via                  object              34153              0
uso_solo                     object              34153              0
pessoas                       int64              34153              0
mortos                        int64              34153              0
feridos_leves                 int64              34153              0
feridos_graves                int64              34153              0
ilesos                        int64              34153              0
ignorados                     int64              34153              0
feridos                       int64              34153              0
veiculos                      int64              34153              0

In [ ]:
dfma = DataStandardize.standardize_data(dfma)
print(dfma['br'].dtype)
print(dfma['horario'].dtype)
print(dfma['data_inversa'].dtype)